In [166]:
import pandas as pd
import numpy as np
from io import StringIO
import csv

In [167]:
f = open(r"C:\Users\Farz Jamal\Desktop\ok.csv",'r')
reader = csv.reader(f)

In [168]:
i = 1
for line in reader:
    if(i<2):
        cols = line
        i+=1
    else:
        break

In [169]:
j = 0
rows = []
for line in reader:
    if (j==0):
        j+=1
    else:
        rows.append(line)

In [170]:
%%time
rows2 = []
for i,j in enumerate(rows):
    rows2.append(j[0].split(','))

Wall time: 997 µs

In [171]:
temp = pd.DataFrame(np.array(rows2))

In [172]:
temp.columns = cols

In [173]:
temp.head()

,"ï»¿""Date",Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,"Own goal Time"""
0,15-06-2018,Egypt,Uruguay,0,43,8,3,3,2,0,...,2,0,0,No,,Group Stage,No,0,,
1,15-06-2018,Uruguay,Egypt,1,57,14,4,6,4,5,...,0,0,0,Yes,89,Group Stage,No,0,,
2,15-06-2018,Morocco,Iran,0,64,13,3,6,4,5,...,1,0,0,No,,Group Stage,No,0,1,90
3,15-06-2018,Iran,Morocco,1,36,8,2,5,1,2,...,3,0,0,Yes,90,Group Stage,No,0,,
4,15-06-2018,Portugal,Spain,3,39,8,3,2,3,4,...,1,0,0,No,4,Group Stage,No,0,,

In [174]:
temp[temp == ''] = float('NaN')

In [175]:
%%time
c = 0
for i in range(len(temp)):
    if(i%2 == 0):
        if((temp.loc[i,'Team'] == temp.loc[i+ 1,'Opponent']) &( temp.loc[i,'Opponent'] == temp.loc[i+1 ,'Team'])):
            continue
        else:
            c+=1
print("%d Errors"%(c))

0 Errors
Wall time: 4.99 ms

In [176]:
temp = temp.rename(columns = {'Team':'Team_A','Opponent':'Team_B'})

In [177]:
cols_mod = [cols[i]  for i  in list(range(3,22)) + list(range(24,27))]

In [178]:
cols_mod

['Goal Scored',
 'Ball Possession %',
 'Attempts',
 'On-Target',
 'Off-Target',
 'Blocked',
 'Corners',
 'Offsides',
 'Free Kicks',
 'Saves',
 'Pass Accuracy %',
 'Passes',
 'Distance Covered (Kms)',
 'Fouls Committed',
 'Yellow Card',
 'Yellow & Red',
 'Red',
 'Man of the Match',
 '1st Goal',
 'Goals in PSO',
 'Own goals',
 'Own goal Time"']

In [184]:
df1,df2 = temp.iloc[[i for i in range(len(temp)) if i%2 == 0],:],temp.iloc[[i for i in range(len(temp)) if i%2 != 0],:]

In [185]:
print(df1.shape,df2.shape)

(63, 27) (63, 27)

In [186]:
df1.reset_index(inplace = True,drop = True),df2.reset_index(inplace = True,drop = True)

(None, None)

In [187]:
df1.drop(['Team_B'],axis =1 , inplace = True)
df2.drop(['Team_A',temp.columns[0],'Round','PSO'],axis = 1 , inplace = True)

G:\anaconda\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
G:\anaconda\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [188]:
t = df2.columns.tolist()
print(t)
for i,j in enumerate(t):
    if j in cols_mod:
        t[i] = str(j) + "_B"
    else:
        pass
print(t)

['Team_B', 'Goal Scored', 'Ball Possession %', 'Attempts', 'On-Target', 'Off-Target', 'Blocked', 'Corners', 'Offsides', 'Free Kicks', 'Saves', 'Pass Accuracy %', 'Passes', 'Distance Covered (Kms)', 'Fouls Committed', 'Yellow Card', 'Yellow & Red', 'Red', 'Man of the Match', '1st Goal', 'Goals in PSO', 'Own goals', 'Own goal Time"']
['Team_B', 'Goal Scored_B', 'Ball Possession %_B', 'Attempts_B', 'On-Target_B', 'Off-Target_B', 'Blocked_B', 'Corners_B', 'Offsides_B', 'Free Kicks_B', 'Saves_B', 'Pass Accuracy %_B', 'Passes_B', 'Distance Covered (Kms)_B', 'Fouls Committed_B', 'Yellow Card_B', 'Yellow & Red_B', 'Red_B', 'Man of the Match_B', '1st Goal_B', 'Goals in PSO_B', 'Own goals_B', 'Own goal Time"_B']

In [189]:
df2.columns = t

In [190]:
final = pd.concat([df1,df2],axis = 1)
final.head()

,"ï»¿""Date",Team_A,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,Offsides,...,Distance Covered (Kms)_B,Fouls Committed_B,Yellow Card_B,Yellow & Red_B,Red_B,Man of the Match_B,1st Goal_B,Goals in PSO_B,Own goals_B,"Own goal Time""_B"
0,15-06-2018,Egypt,0,43,8,3,3,2,0,1,...,111,6,0,0,0,Yes,89,0,NaN,NaN
1,15-06-2018,Morocco,0,64,13,3,6,4,5,0,...,100,14,3,0,0,Yes,90,0,NaN,NaN
2,15-06-2018,Portugal,3,39,8,3,2,3,4,1,...,103,10,1,0,0,Yes,24,0,NaN,NaN
3,16-06-2018,France,2,51,12,5,4,3,5,0,...,111,19,3,0,0,Yes,62,0,1,81
4,16-06-2018,Argentina,1,72,26,7,9,10,10,0,...,105,15,0,0,0,Yes,23,0,NaN,NaN

In [191]:
final.columns

Index(['ï»¿"Date', 'Team_A', 'Goal Scored', 'Ball Possession %', 'Attempts',
       'On-Target', 'Off-Target', 'Blocked', 'Corners', 'Offsides',
       'Free Kicks', 'Saves', 'Pass Accuracy %', 'Passes',
       'Distance Covered (Kms)', 'Fouls Committed', 'Yellow Card',
       'Yellow & Red', 'Red', 'Man of the Match', '1st Goal', 'Round', 'PSO',
       'Goals in PSO', 'Own goals', 'Own goal Time"', 'Team_B',
       'Goal Scored_B', 'Ball Possession %_B', 'Attempts_B', 'On-Target_B',
       'Off-Target_B', 'Blocked_B', 'Corners_B', 'Offsides_B', 'Free Kicks_B',
       'Saves_B', 'Pass Accuracy %_B', 'Passes_B', 'Distance Covered (Kms)_B',
       'Fouls Committed_B', 'Yellow Card_B', 'Yellow & Red_B', 'Red_B',
       'Man of the Match_B', '1st Goal_B', 'Goals in PSO_B', 'Own goals_B',
       'Own goal Time"_B'],
      dtype='object')

In [192]:
final['Man of the Match'].head()

0    No
1    No
2    No
3    No
4    No
Name: Man of the Match, dtype: object

In [193]:
#Now_to_predict_man_of_the_match_from_which_team

In [194]:
final['MOTM'] = np.ones([len(final),1])

In [195]:
final.loc[final['Man of the Match'] == 'Yes','MOTM'] = 'A'
final.loc[final['Man of the Match'] == 'No','MOTM'] = 'B'
final.drop(['Man of the Match','Man of the Match_B'],axis =1,inplace = True)

In [196]:
X,y = final[final.columns[:-1]],final['MOTM']

In [197]:
X.head()

,"ï»¿""Date",Team_A,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,Offsides,...,Passes_B,Distance Covered (Kms)_B,Fouls Committed_B,Yellow Card_B,Yellow & Red_B,Red_B,1st Goal_B,Goals in PSO_B,Own goals_B,"Own goal Time""_B"
0,15-06-2018,Egypt,0,43,8,3,3,2,0,1,...,589,111,6,0,0,0,89,0,NaN,NaN
1,15-06-2018,Morocco,0,64,13,3,6,4,5,0,...,194,100,14,3,0,0,90,0,NaN,NaN
2,15-06-2018,Portugal,3,39,8,3,2,3,4,1,...,727,103,10,1,0,0,24,0,NaN,NaN
3,16-06-2018,France,2,51,12,5,4,3,5,0,...,390,111,19,3,0,0,62,0,1,81
4,16-06-2018,Argentina,1,72,26,7,9,10,10,0,...,189,105,15,0,0,0,23,0,NaN,NaN